{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="container" style="margin-top: 10%">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Insert into Database!</th>
                <th scope="col">Filter Files!</th>
                <th scope="col">Fetch API Data!</th>
                <th scope="col">Update Person Detail</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <form action="{% url 'insert_raw_data' %}">
                        <button class="btn btn-primary" type="submit">
                            {% trans "Fetch local content" %}
                        </button>
                    </form>
                </td>
                <td>
                    <form action="{% url 'file_filter' %}">
                        <button class="btn btn-primary" type="submit">
                            {% trans "Filter Local Content" %}
                        </button>
                    </form>
                </td>
                <td>
                    <form action="{% url 'update_meta_data' %}">
                        <button class="btn btn-primary" type="submit">
                            {% trans "Fetch MetaData" %}
                        </button>
                    </form>
                </td>
                <td>
                    <form action="{% url 'index' task='update_person_data' %}">
                        <button class="btn btn-primary" type="submit">
                            {% trans "Fetch MetaData" %}
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}