{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <!--<div class="container">
        <div>
            <span>Thread status: {{ thread.staus }} - {{ thread.get_status_display }}</span>
        </div>
        <div>
            <span>Thread type: {{ thread.type }} - {{ thread.get_type_display }}</span>
        </div>
    </div>-->
    <div class="container" style="margin-top: 1%">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Insert into Database!</th>
                <th scope="col">Update Content</th>
                <th scope="col">Filter Files!</th>
                <th scope="col">Fetch API Data!</th>
                <th scope="col">Update Person Detail</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    {% if thread.type == 0 %}
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated"
                                 role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                 style="width: 100%">{{ thread.get_status_display }}</div>
                        </div>
                    {% endif %}
                    <form action="{% url 'insert_raw_data' %}">
                        <button class="btn btn-primary" type="submit" {% if thread.status == 0 %} disabled {% endif %}>
                            {% trans "Fetch local content" %}
                        </button>
                    </form>
                </td>
                <td>
                    {% if thread.type == 5 %}
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated"
                                 role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                 style="width: 100%">{{ thread.get_status_display }}</div>
                        </div>
                    {% endif %}
                    <form action="{% url 'index' task='update_content' %}">
                        <button class="btn btn-primary" type="submit" {% if thread.status == 0 %} disabled {% endif %}>
                            {% trans "Update content" %}
                        </button>
                    </form>
                </td>
                <td>
                    {% if thread.type == 1 %}
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated"
                                 role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                 style="width: 100%">{{ thread.get_status_display }}</div>
                        </div>
                    {% endif %}
                    <form action="{% url 'file_filter' %}">
                        <button class="btn btn-primary" type="submit" {% if thread.status == 0 %} disabled {% endif %}>
                            {% trans "Filter Local Content" %}
                        </button>
                    </form>
                </td>
                <td>
                    {% if thread.type == 2 or thread.type == 3 %}
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated"
                                 role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                 style="width: 100%">{{ thread.get_status_display }}</div>
                        </div>
                    {% endif %}
                    <form action="{% url 'update_meta_data' %}">
                        <button class="btn btn-primary" type="submit" {% if thread.status == 0 %} disabled {% endif %}>
                            {% trans "Fetch MetaData" %}
                        </button>
                    </form>
                </td>
                <td>
                    {% if thread.type == 4 %}
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated"
                                 role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                 style="width: 100%">{{ thread.get_status_display }}</div>
                        </div>
                    {% endif %}
                    <form action="{% url 'index' task='update_person_data' %}">
                        <button class="btn btn-primary" type="submit"  {% if thread.status == 0 %} disabled {% endif %}>
                            {% trans "Fetch MetaData" %}
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="container" id="continuous-update">
        <table class="table table-responsive">
            <thead>
            <tr>
                <th scope="col">Content Type</th>
                <th scope="col">
                    <div>Items with Meta Data</div>
                    <div><sub>(item details found from TMDB)</sub></div>
                </th>
                <th scope="col">
                    <div>Scanned Items</div>
                    <div><sub>(item scanned from TMDB)</sub></div>
                </th>
                <th scope="col">
                    <div>Total Items</div>
                    <div><sub>(Total Items in database)</sub></div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Raw Data</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>
                    <a href="{% url 'admin:moviesHaven_rawdata_changelist' %}">
                        {{ total_raw_data }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>Media Info</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>
                    <a href="{% url 'admin:moviesHaven_mediainfo_changelist' %}">
                        {{ total_raw_data_with_media_info }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>Movie</td>
                <td>
                    <a href="{% url 'admin:moviesHaven_movie_changelist' %}?status__exact=1">
                        {{ movies_with_metadata }}
                    </a>
                </td>
                <td>
                    <a href="{% url 'admin:moviesHaven_movie_changelist' %}?scan_stat__exact=1">
                        {{ movies_scanned }}
                    </a>
                </td>
                <td>
                    <a href="{% url 'admin:moviesHaven_movie_changelist' %}">
                        {{ total_movies }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>Episode</td>
                <td>
                    <a href="{% url 'admin:moviesHaven_episodedetail_changelist' %}?meta_stat__exact=1">
                        {{ episodes_with_metadata }}
                    </a>
                </td>
                <td>
                    <a href="{% url 'admin:moviesHaven_episodedetail_changelist' %}?scan_stat__exact=1">
                        {{ episodes_scanned }}
                    </a>
                </td>
                <td>
                    <a href="{% url 'admin:moviesHaven_episodedetail_changelist' %}">
                        {{ total_episodes }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>Actors</td>
                <td>
                    <a href="{% url 'admin:moviesHaven_person_changelist' %}?status__gte=1">
                        {{ actors_with_metadata }}
                    </a>
                </td>
                <td>
                    <a href="{% url 'admin:moviesHaven_person_changelist' %}?status__gte=2">
                        {{ actors_scanned }}
                    </a>
                </td>
                <td>
                    <a href="{% url 'admin:moviesHaven_personrole_changelist' %}?role=cast">
                        {{ total_actors }}
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        <a href="{% url 'admin:moviesHaven_mediainfo_changelist' %}?meta_episode__isnull=True&meta_movie__isnull=True">
            <span>Add Unknown Media Info</span>
        </a>
    </div>
{% endblock %}
{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        function autoRefresh_div(id) {
            $("#" + id).load("", function () {
                console.log("refreshed..");
                setTimeout(autoRefresh_div, 5000);
            });
        }

        {#autoRefresh_div("continuous-update")#}
    </script>
{% endblock %}