{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Planet Vision</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" style="margin-top: 10%">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Insert into Database!</th>
            <th scope="col">Filter Files!</th>
            <th scope="col">Fetch API Data!</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <form action="{% url 'insert_raw_data' %}">
                    <button class="btn btn-primary" type="submit">
                        {% trans "Fetch local content" %}
                    </button>
                </form>
            </td>
            <td>
                <form action="{% url 'film_splitter' %}">
                    <button class="btn btn-primary" type="submit">
                        {% trans "Filter Local Content" %}
                    </button>
                </form>
            </td>
            <td>
                <form action="{% url 'fetch_api_data' %}">
                    <button class="btn btn-primary" type="submit">
                        {% trans "Filter MetaData" %}
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>